
/* NORMALIZACION */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Esto mantiene el ancgo y alto a pesar del padding y border*/
    font-family: "Inconsolata", monospace;
    list-style: none; /*Quita los puntos y decoracion de las listas*/
    text-decoration: none; /*Quita el subrayado de los enlaces*/
    color: white;
}

body{
    background-color: black; /* TODO: borrar cuando se tenga el fondo final*/
}

header{
    position: fixed; /*Con esto el Header se queda fijo en la parte superior */
    right: 0;
    top: 0;
    z-index: 100; /* Con esto dejamos el header por encima */
    width: 100%;
    display: flex; /* Para jugar con los elementos en linea */
    align-items: center; /*Al tener Flex row, centra verticalmente */
    justify-content: space-between; /* Hace que los elementos se separen*/
    padding: 15px 3%;
    /* background-color: black; */
}

.logo{
    font-size: 30px;
    font-weight: 800; /* Es el grueso de la letra */
}

.navlist{
    display: flex; /* Pone a los elementos del UL en linea*/
}

.navlist a{
    margin-left: 60px; /*separo las palabras*/
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent; /*Subrayado transparente*/
    transition: all .5s ease; /*Animo/Transiciono todas las caracteristicas del .navlist a*/
}

.navlist a:hover{
    border-bottom: 2px solid white; /*Subrayado blanco que va aparecer cuando estamos con el mouse por encima*/
}

#menu-icon{
    display: none; /*Se pone para que solo sea visible cuando la pagina este colapsada de forma horizontal*/
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 101; /*queda sobre el header*/
    cursor: pointer; /*Aparece la manito cuando el mouse esta por encima*/
}
#menu-toggle{
    display: none; /*No debe ser visible nunca*/
}

menu-icon-action{
    display: none; /*Para que no sea clickeable*/
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #31494e 0%,#385e70 25%, #131313 75%);/*Fondo de color gradiente*/
    position: relative; /*Para que sea relativo al contenedor y poder usar top,bottom, left y right*/
    display: grid; /*Para dividir en hero en dos columnas*/
    grid-template-columns: 1fr 1fr; /*Dos columnas*/
    align-items: center; /*Alineo verticalmente en hero*/
    gap: 2rem; /*Agrego el espacio entre las columnas*/
}

section{
    padding: 0 8%;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

.hero-text h1{
    font-family: 'Roboto Mono',monospace;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 30px;
}

.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.hero-text p{
    font-size: 80%;
    margin-bottom: 40px;
    line-height: 1.9;
}

.hero-img img{
    width: 400px;
    margin: 10% 0 0 10%;
    height: auto;
    transition: all .5s linear; /*hace que la transicion sea lineal*/
    /* height: 400px;*/
    border-radius: 200px; 
}

.hero-img img:hover{
    width: 450px;
    border-radius: 225px;
    opacity: 0.6;
}

.hero-text a{
    display: inline-block;
    background-color: #4d4d4d;
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .5s ease;
}

.hero-text a:hover{
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero-text a.videos{
    background-color: transparent;
    border:  1px solid white;
    margin-left: 20px;
}

.hero-text a.videos i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons{
    position: absolute;
    top: 50vh; /*Lo posiciona a la mitad de lo que se ve view x height*/
    padding: 0 3%;
    transform:  translateY(-50%);
}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    transition: all .5s ease;
}

.icons i:hover{
    color: #4d4d4d;
    transform: translateY(-5px);
}

.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 3%;
}

.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    background-color: #21383d;
    border-radius: 30px;
    transition: all .5s ease;
}

.scroll-down i:hover{
    transform: translateY(-5px);
}


/*Mediaqueries para que la web sea responsive*/
@media(max-width:992px){
    section{
        padding: 0 3%;
        transition: .2s;
    }

    .hero-text{
        padding-top: 0;
    }

    .hero-img{
        text-align: center;
    }

    .hero-img img{
        width: 80%;
        margin: 10% 0 0 10%;
    }

    .hero-text p{
        font-size: 70%;
    }

    .icons{
        display: none;
    }

    .scroll-down{
        display: none;
    }
}

@media (max-width: 768px){
    .menu-icon-action{
        display: block;
    }

    #menu-icon{
        display: block;
    }

    .hero-text{
        text-align: center;
        padding-top: 100px;
    }

    .hero-img{
        margin: 0;
    }
    
    .hero{
        height: 100%;        
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color: #021719ef;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        transition: all .5 ease-out;
    }

    .navlist a{
        display: block;
        margin: 7px 0;
    }

    #menu-toggle:checked + label.menu-icon-action + ul{
        right: 0;
    }


}